/* PC */
@media (min-width: 1024px) {
    #header .menu-button{
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    #header .menu-button{
        display: none;
    }
}


@media (max-width: 739px){
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .header-search .search-button{
        display: none;
    }
    .col, .col-2, .col-3{
        width: 100%;
    }

    .places-item{
        margin-bottom: 16px ;
    }

    #content .member-list{
        margin-top: 32px;
    }

    #content .member-img{
        width: 230px;
    }

    
    #content .member-name{
        margin-top: 30px;
    }

    .contact-body .contact-info{
        margin-bottom: 16px;
    }



}